@tailwind base;
@tailwind components;
@tailwind utilities;

.actionButton{
    @apply text-primary py-[10px] px-[16px] border border-outline rounded-[5px]
}
.navLink{
    @apply hover:bg-transparent hover:text-primary font-semibold
}
.hotel-gallery-single-img{
 @apply 3xl:h-[430px]
}
.hotel-gallery-double-img{
    @apply 3xl:h-[325px] 3xl:w-[325px] 3xl:gap-[50px];
    width: calc(50% - 15px);
}

body{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
